testbed/node_red_testbed.json
[
  {
    "id": "f4f3c7b2.1a2b3c",
    "type": "tab",
    "label": "IoT Testbed (Paper Spec)",
    "disabled": false,
    "info": "Endpoints exactly as per Section IV of the research paper."
  },
  {
    "id": "a1b2c3d4.5e6f7g",
    "type": "http in",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Device Recon",
    "url": "/api/devices",
    "method": "get",
    "upload": false,
    "x": 160,
    "y": 80,
    "wires": [["b2c3d4e5.6f7g8h"]]
  },
  {
    "id": "b2c3d4e5.6f7g8h",
    "type": "function",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Recon Handler",
    "func": "msg.payload = {status:'success', devices:['Camera-01','Lock-01','Bulb-01'], timestamp:new Date().toISOString()};\nconst logEntry = {timestamp:new Date().toISOString(), src_ip: req.headers['x-forwarded-for']||req.connection.remoteAddress, endpoint:'/api/devices', method:'GET', status:'reconnaissance', details:'Device list requested'};\nreturn [{payload:msg.payload}, {payload:JSON.stringify(logEntry)}];",
    "outputs": 2,
    "noerr": 0,
    "x": 380,
    "y": 80,
    "wires": [["c3d4e5f6.7g8h9i"], ["d4e5f6g7.8h9i0j"]]
  },
  {
    "id": "c3d4e5f6.7g8h9i",
    "type": "http response",
    "z": "f4f3c7b2.1a2b3c",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 600,
    "y": 60,
    "wires": []
  },
  {
    "id": "e5f6g7h8.9i0j1k",
    "type": "http in",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Camera Snapshot",
    "url": "/api/camera/snapshot",
    "method": "post",
    "upload": false,
    "x": 160,
    "y": 180,
    "wires": [["f6g7h8i9.0j1k2l"]]
  },
  {
    "id": "f6g7h8i9.0j1k2l",
    "type": "function",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Snapshot Handler",
    "func": "const fakeImage = Buffer.from('iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8BQDwAEhQGAhKmMIQAAAABJRU5ErkJggg==','base64');\nmsg.payload = {status:'snapshot_captured', camera_id:'Hikvision-Front', image_data:fakeImage.toString('base64'), timestamp:new Date().toISOString()};\nconst logEntry = {timestamp:new Date().toISOString(), src_ip: req.headers['x-forwarded-for']||req.connection.remoteAddress, endpoint:'/api/camera/snapshot', method:'POST', status:'collection', details:'Camera snapshot captured'};\nreturn [{payload:msg.payload}, {payload:JSON.stringify(logEntry)}];",
    "outputs": 2,
    "noerr": 0,
    "x": 380,
    "y": 180,
    "wires": [["g7h8i9j0.1k2l3m"], ["d4e5f6g7.8h9i0j"]]
  },
  {
    "id": "g7h8i9j0.1k2l3m",
    "type": "http response",
    "z": "f4f3c7b2.1a2b3c",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 600,
    "y": 160,
    "wires": []
  },
  {
    "id": "h8i9j0k1.2l3m4n",
    "type": "http in",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Smart Lock Unlock",
    "url": "/api/lock/unlock",
    "method": "post",
    "upload": false,
    "x": 160,
    "y": 280,
    "wires": [["i9j0k1l2.3m4n5o"]]
  },
  {
    "id": "i9j0k1l2.3m4n5o",
    "type": "function",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Lock Handler",
    "func": "let pin='';\ntry{const body=typeof req.body==='object'?req.body:JSON.parse(req.body);pin=body.pin||'';}catch(e){}\nconst unlocked=(pin==='1234');\nmsg.payload = {status:unlocked?'unlocked':'failed', lock_id:'Front_Door', timestamp:new Date().toISOString(), message:unlocked?'Smart lock opened':'Incorrect PIN'};\nconst logEntry = {timestamp:new Date().toISOString(), src_ip: req.headers['x-forwarded-for']||req.connection.remoteAddress, endpoint:'/api/lock/unlock', method:'POST', status:unlocked?'impact_success':'impact_failure', details:unlocked?'Lock unlocked with correct PIN':'Failed unlock attempt', pin_attempt:pin};\nreturn [{payload:msg.payload}, {payload:JSON.stringify(logEntry)}];",
    "outputs": 2,
    "noerr": 0,
    "x": 380,
    "y": 280,
    "wires": [["j0k1l2m3.4n5o6p"], ["d4e5f6g7.8h9i0j"]]
  },
  {
    "id": "j0k1l2m3.4n5o6p",
    "type": "http response",
    "z": "f4f3c7b2.1a2b3c",
    "name": "",
    "statusCode": "200",
    "headers": {},
    "x": 600,
    "y": 260,
    "wires": []
  },
  {
    "id": "k1l2m3n4.5o6p7q",
    "type": "mqtt in",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Bulb Command",
    "topic": "home/bulb/command",
    "qos": "0",
    "datatype": "auto",
    "broker": "broker",
    "x": 160,
    "y": 380,
    "wires": [["l2m3n4o5.6p7q8r"]]
  },
  {
    "id": "l2m3n4o5.6p7q8r",
    "type": "function",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Bulb Handler",
    "func": "const state=msg.payload.toString().toUpperCase();\nconst valid=(state==='ON'||state==='OFF');\nconst logEntry = {timestamp:new Date().toISOString(), src_ip:'mqtt_broker', endpoint:'mqtt:home/bulb/command', method:'PUBLISH', status:valid?'impact':'invalid', details:valid?'Bulb set to '+state:'Invalid command: '+state, command:state};\nreturn [{payload:JSON.stringify(logEntry)}];",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 380,
    "wires": [["d4e5f6g7.8h9i0j"]]
  },
  {
    "id": "m3n4o5p6.7q8r9s",
    "type": "comment",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Lateral movement is handled via SSH (external)",
    "info": "The paper's lateral movement uses SSH to a local simhost account, not HTTP. The agent's ssh_exec.py will handle that. No Node‑RED endpoint needed.",
    "x": 160,
    "y": 480,
    "wires": []
  },
  {
    "id": "d4e5f6g7.8h9i0j",
    "type": "file",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Events Log",
    "filename": "/var/log/nodered/events.log",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 600,
    "y": 380,
    "wires": []
  },
  {
    "id": "n4o5p6q7.8r9s0t",
    "type": "debug",
    "z": "f4f3c7b2.1a2b3c",
    "name": "Debug All",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "x": 600,
    "y": 480,
    "wires": []
  }
]
